[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
environ = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
autopep8 = "*"
graphene-django = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-allauth = "*"
django-rest-framework = "*"
dj-rest-auth = "*"
pyjwt = "*"
postgres = "*"
psycopg2-binary = "*"
psycopg2-pool = "*"

[dev-packages]

[requires]
python_version = "3.11"
